<div nz-row>
    <div nz-col [nzSpan]="7" >
        
        <nz-card style=" height: 100%;">
            <h1>Login</h1>
            <h2>Welcome back !</h2>
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-control  nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user" class="inputbox">
                      <input type="text" nz-input formControlName="userName" placeholder="Username" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Password!">
                      <nz-input-group nzPrefixIcon="lock" [nzSuffixIcon]="isShowpassword ? 'eye' : 'eye-invisible'"
                          (click)="isShowpassword = !isShowpassword">
                          <input style="padding: 10px;" formControlName="password" nz-input
                              type="{{isShowpassword ? 'text' : 'password'}}" placeholder="Password" />
                      </nz-input-group>
                  </nz-form-control>
              </nz-form-item>
                <div nz-row class="login-form-margin">
                  <div nz-col [nzSpan]="12">
                    <label nz-checkbox  formControlName="remember" >
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <a class="login-form-forgot">Forgot password</a>
                  </div>
                </div>
                <button nz-button class="login-form-button login-form-margin inputbox" >LOGIN</button>
                
              </form>
          </nz-card>
    </div>
    <div nz-col [nzSpan]="17" >
        <div class="box"></div>
    </div>
  </div>